
.mixed-news {

	.news-lead {
		@include lead;
	}

	.news-head {
		@include head-md;
		&.bo_top {
			border-top-width: 4px;
			border-top-style: solid; 
		}
		&.bo_bottom {
			border-bottom-width: 4px;
			border-bottom-style: solid; 
		}
		a:hover {
			color: $dark-blue;
		}
	}

	.news-subhead {
		@include subhead;
	}

	.news-link {
		.link-img {
			width: 100%;
			height: 100%;
			&.img-xs {
				min-height: 300px;
			}
			&.img-row-1 {
				min-height: 400px;
			}
			&.img-row-2 {
				min-height: 350px;
			}
			&.img-row-3 {
				min-height: 375px;
			}
			&.img-col-1 {
				min-height: 300px;
			}
			&.img-col-2 {
				min-height: 500px;
			}
		}
		.link-overlay {
			height: 100%;
			top: 0;
			background-color: rgba(26,33,43,.8);
			overflow: hidden;
			opacity: 0;
			transition: all 200ms linear;
			&:hover {
				opacity: 1;
			}
		}
	}

	.news-separator {
		height: 200px;

		.separator-img {
			width: 150px;
			height: 150px;
		}

	}	

}
