
$dark-blue:      #1a212b;
$light-blue:     #414b5a;
$light-gray:     #8b8f93;
$dark-orange:    #ea5f00;
$bright-orange:  #ff8837;
$light-orange:   #ffb07a;

$tomba-blue:     #223c8d;
$tomba-lgblue:   #6897bb;
$lepra-purple:   #2a1972;
$lepra-lgpurple: #705bcc;
$lobo-black:     #000000;


$base-font:    'Fira Sans', sans-serif;
$accent-font:  'Rokkitt', serif;

